div.gallery {
    border: 1px solid #ccc;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: 300px;
}

* {
    box-sizing: border-box;
}

.responsive {
    padding: 0px 6px 20px 6px;
    float: left;
    width: 24.99999%;
}

@media only screen and (max-width: 700px) {
    .responsive {
        width: 49.99999%;
        margin: 6px 0;
    }
}

@media only screen and (max-width: 500px) {
    .responsive {
        width: 100%;
    }
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}
.footer h2{
    visibility: hidden;
}

div.desc {
    font-size: 30px;
    font-weight: normal;
    cursor: pointer;
    display: inline-block;
    text-shadow: 1px 1px 1px white,
    1px -1px 1px white,
    -1px 1px 1px white,
    -1px -1px 1px white;
    color: steelblue;
    transition: all 1s;
}
div.desc:after {
    content: "";
    display: block;
    position: relative;
    z-index: -1;
    width: 100%;
    margin: auto;
    border-bottom: 3px solid steelblue;
    bottom: .15em;
    transition: all 1s;
}
div.desc:hover:after {
    width: 0%;
    border-bottom-width: 1px;
}

div.table{
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

tbody tr:nth-child(odd) {
    background-color: #777777;
}

tbody tr:nth-child(even) {
    background-color: blanchedalmond;
}

table {
    background-color: #cccccc;
}
div.table caption{
    font-size: 2rem;
}


